---
import styles from "./CollectionCesarHero.module.css";
import { Image } from "astro:assets";

import CesarHeroBg from "../assets/images/CesarDeLeon1.webp";
import CesarLogo from "../assets/images/CesarLogo.webp";
---

<section class={styles.hero} aria-label="Hero Colección César">
    <div class={styles.media}>
        <Image
            src={CesarHeroBg}
            alt="Colección César"
            class={styles.img}
            loading="eager"
            decoding="async"
        />
        <div class={styles.vignette} aria-hidden="true"></div>
    </div>

    <div class={styles.overlayContent}>
        <div class={styles.logoWrap}>
            <Image
                src={CesarLogo}
                alt="César"
                class={styles.logoImg}
                loading="eager"
                decoding="async"
            />
        </div>

        <p class={styles.subtitle}>
            Descubre la colección César, piezas
            <br />
            disponibles para tu espacio
        </p>
    </div>
</section>
